# IntelliJ
/.idea

# Dependencies
/vendor

# Drupal Core
/web/core

# Contrib themes
/web/themes/contrib
/web/themes/README.txt

# Contrib modules
/web/modules/contrib
/web/modules/README.txt

# Contrib profiles
/web/profiles/contrib
/web/profiles/README.txt

# Scaffolded files
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/README.md
/web/robots.txt
/web/update.php
/web/web.config

# Sites default and sample files
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/sites/development.services.yml

# Sites files which contain sensible data
/web/sites/*/settings.php
/web/sites/*/settings.*.php
/web/sites/*/default.settings.php
/web/sites/*/default.services.yml
/web/sites/*/files

# Composer lock
composer.lock
